*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #333;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

#game {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

#option {
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

i{
  margin-top: 20px;
}

#option a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative;
  display: block; */
  width: 150px;
  height:150px;
  background-color: red;
  color: white;
  font-size: 27px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid red;
  z-index: 1;
  margin-top: 20px;
}

#option a:before 
{
  content: '';
  position: absolute;
  display:block;
  width: 137px;
  height: 137px;
  border-radius: 50%;
  background: white;
  z-index: 2;
  transform: scale(0);
  transition: .5s;
}

#option:hover a:before
{
  transform: scale(1);
}

a i 
{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5;
  z-index: 3;
}

#option:hover a i 
{
  color: red;
}





#paper {
  margin-top: -15px;
  z-index: 2;
  color: black;
}

#rock {
  margin-top: -15px;
  z-index: 2;
  color: black;
}
#scissors {
  margin-top: -15px;
  z-index: 2;
  color: black;
}



a:hover {
    color: chocolate;
}

i {
  pointer-events: none;
  touch-action: none;
}

#computer {
  text-align: center;
}
#result {
  color: rgb(177, 59, 59);
}
